frontend/node_modules
/backend/api/__pycache__
/backend/baml_client/__pycache__
/backend/screenshock/__pycache__
backend/db.sqlite3
backend/screenshock.log
backend/baml_client.tmp
/backend/.venv
/backend/baml_client
/frontend/build

/backend/.env